/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 这里的 CSS 变量决定了全局背景 */
:root {
  --background: #f6f4f0; /* 纸张色 */
  --foreground: #2c2c2c; /* 墨水色 */
}

body {
  color: var(--foreground);
  background: var(--background);
  /* 解决比例奇怪的关键：平滑字体渲染 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}